<% provide(:title, "Contact") %>
<h1><%= t("static_pages.contact") %></h1>
<p>
  <%= t("static_pages.contact_the_ror_tutorial_about_the_sample_app_at_the") %>
  <a href="http://www.railstutorial.org/#contact"><%= t("static_pages.contact_page") %></a>.
</p>
